.get_trainers-card {
    flex: 1;
    min-width: 250px;
    max-width: 400px;
    padding: 16px 18px;
    border: 1px solid var(--card-border);
    border-radius: 14px;
    box-shadow: 1px 6px 20px 0px var(--card-box-shadow);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.get_trainers-card .get_trainers-card-img{
    display: flex;
    justify-content: center;
}

.get_trainers-card .get_trainers-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3px;
}

.get_trainers-card .get_trainers-card-title{
    font-size: 22px;
    font-weight: 500;
    text-transform: none;
    text-align: center;
}

.get_trainers-card .get_trainers-card-desc{
    text-align: center;
    margin-bottom: 2px;
}


/* Buttons */
.get_trainers-card .get_trainers-card-btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

/* Book Btn */
.get_trainers-card .get_trainers-card-btn {
    background-color: #06b540;
    width: 100%;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    text-transform: none;
    --mdb-btn-box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}

/* Cacnel Btn */
.get_trainers-card .cancel-book-btn {
    background-color: #e33d17;
    width: 100%;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    text-transform: none;
    --mdb-btn-box-shadow: 0 4px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.35);
}

/* View Btn */
.get_trainers-card .view-btn {
    background-color: aqua;
}


@media screen and (max-width: 1200px) {
    .get_trainers-card .get_trainers-card-btns{
        flex-direction: column;
        gap: 10px;
    }
}

