.forgot-password-section {
    overflow: hidden;
}

.forgot-password-section .container {
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-section .forgot-password-row1 {
    width: 80%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.forgot-password-section .forgot-password-row1 .forgot-password-row1-column1 {
    padding: 50px;
    width: 80%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}



.forgot-password-section .form-container {
    background-color: white;
    padding: 2rem;
    width: 450px;
    height: 425px;
    /* border: 1px solid rgb(153, 155, 156); */
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.forgot-password-section .form-container h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: none;
    text-align: center;
}


.forgot-password-section .form-container p {
    color: #6c757d;
    font-size: 0.9rem;
    text-align: center;
}

.forgot-password-section .form-container a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password-section .form-container a:hover {
    text-decoration: underline;
}


/* Floating Label Styles */
.forgot-password-section .form-container .form-floating {
    position: relative;
    margin-bottom: 1rem;
}

.forgot-password-section .form-container .form-floating input {
    font-size: 1.1rem;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.forgot-password-section .form-container .form-floating input:focus {
    border-color: #030303;
    padding: 0rem 1rem;
}


.form-container .form-floating label {
    position: absolute;
    top: 42%;
    left: 1px;
    transform: translateY(-45%);
    font-size: 1.2rem;
    color: #6c757d;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.form-container .form-floating label::after {
    content: "";
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
}


.forgot-password-section .form-container .form-floating input:focus+label,
.forgot-password-section .form-container .form-floating input:not(:placeholder-shown)+label {
    top: -2.5px;
    left: 5px;
    padding: 0 10px;
    font-size: 0.95rem;
    color: #161617;
    font-weight: 400;
}

.forgot-password-section .form-container .password-floating-container {
    height: 60px;
}


.forgot-password-section .form-container .password-floating-container .password-floating-label {
    width: 100%;
}

.forgot-password-section .form-container .password-floating-container input {
    padding: 0.75rem 2.6rem 0.75rem 1rem !important;
    background-color: white;
}


.forgot-password-section .form-container .password-floating-container input:focus {
    padding: 0.75rem 2.6rem 0.75rem 1rem !important;
    background-color: white;
}


.forgot-password-section .form-container .password-floating-container .toggle-password-btn {
    position: relative;
    right: -90%;
    top: -45px;
    /* right: 35px;
    top: 40%; */
    transform: translateY(-50%);
    z-index: 10;
    background: none;
    border: none;
    color: #6c757d;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


/* Confirm Password */

.forgot-password-section .form-container .confirm-password-floating-container{
    height: 60px;
}

.forgot-password-section .form-container .confirm-password-floating-container .password-floating-label{
    width: 100%;
}

.forgot-password-section .form-container .confirm-password-floating-container input{
    padding: 0.75rem 2.6rem 0.75rem 1rem !important;
    background-color: white;
}    


.forgot-password-section .form-container .confirm-password-floating-container input:focus{
    padding: 0.75rem 2.6rem 0.75rem 1rem !important;
    background-color: white;
}


.forgot-password-section .form-container .confirm-password-floating-label input:focus + label,
.forgot-password-section .form-container .confirm-password-floating-label input:not(:placeholder-shown) + label {
    top: -2.5px;
    left: 5px;
    padding: 0 10px;
    font-size: 0.95rem;
    color: #161617;
    font-weight: 400;
}

.forgot-password-section .form-container .confirm-password-floating-container .toggle-password-btn{
    position: relative;
    right: -90%;
    top: -45px;
    /* right: 35px;
    top: 40%; */
    transform: translateY(-50%);
    z-index: 10;
    background: none;
    border: none;
    color: #6c757d;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Button Styles */
.forgot-password-section .form-container .btn-reset {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    width: 100%;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 1rem;
    text-transform: none;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.forgot-password-section .form-container .btn-reset:hover {
    background-color: #333;
}

/* 
.forgot-password-section .form-container .btn-forgot-password {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.7rem;
    text-transform: none;
} */

.forgot-password-section .form-container a:hover {
    text-decoration: underline;
}


.forgot-password-section .form-container .form-floating .toggle-password-btn {
    position: absolute;
    right: -90%;
    top: -45px;
    /* right: 10px;
    top: 50%; */
    transform: translateY(-50%);
    z-index: 10;
    padding: 0;
    background: none;
    border: none;
    color: #6c757d;
    font-size: 1.2rem;
    cursor: pointer;
}

.forgot-password-section .toggle-password-btn:hover {
    color: #000;
}


/* Social Button */
.forgot-password-section .form-container .social-btn {
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.6rem;
    width: 50px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.forgot-password-section .form-container .social-btn i {
    font-size: 0.9rem;
    color: rgb(23, 22, 22);
    margin-right: 0.5rem;
}

.forgot-password-section .form-container .social-btn i:hover {
    background-color: #f9f9f9;
}



@media screen and (max-width: 900px) {
    .forgot-password-section .form-container {
        background-color: white;
        padding: 2rem;
        width: 440px;
        height: 690px;
        border-radius: none;
        box-sizing: none;
        box-shadow: none;
    }

    .forgot-password-section .forgot-password-row1 {
        width: 100%;
    }

}